@media (min-width: 800px) and (max-width: 1200px) {}
@media (max-width: 65rem) {
  /*  .card .right{color:blue;}
*/
  /*  input{font-size: 2.2rem;}
*/
}
@media (max-width: 50rem) {
  .card__title, .card__content, .card__action, select {
    /*     font-size: 2.5rem;
 */
  }
  /*   input{font-size: 2.5rem;}
 */
}
@media (max-width: 30rem) {
  .card__title, .card__content, .card__action, select {
    /*     font-size: 3rem;
 */
  }
  /*   input{font-size: 3rem;}
 */
}
/*
@media (min-width: 640px) and (max-width: 767px) {
  .card .right{color:orange;}

} */

@media screen and (min-device-width: 60px) and (orientation: landscape) {
  /* some CSS here */

  .card .right {
    color: red;
  }
}
@media only screen and (min-device-width: 361px) and (max-device-width: 480px) and (orientation: portrait) {
  /* For portrait layouts only */

  .card .right {
    color: pink;
  }
}
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* For portrait layouts only */

  .card .right {
    color: green;
  }
}
/* different techniques for iPad screening */

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait) {
  .between-481-and-1024 {
    color: green;
  }
  .card .right {
    color: blue;
  }
}
.overide-card_width .card, .overide-card_width input, .overide-card_width select {
  /*overide default with js on buttonclick Aa*/

  margin: 0.5rem auto;
  width: 100%
}
@media only screen and (min-resolution: 200dpi) {.resoultion-200dpi {color: green;}}
@media only screen and (min-resolution: 250dpi) {.resoultion-250dpi {color: green;}}
@media only screen and (min-resolution: 270dpi) {.resoultion-270dpi {color: green;}}
@media only screen and (min-resolution: 300dpi) {.resoultion-300dpi {color: green;}}
@media only screen and (min-resolution: 320dpi) {.resoultion-320dpi {color: green;}}
@media only screen and (min-resolution: 340dpi) {.resoultion-340dpi {color: green;}}
@media only screen and (min-resolution: 360dpi) {.resoultion-360dpi {color: green;}}
@media only screen and (min-resolution: 380dpi) {.resoultion-380dpi {color: green;}}
/*
@media only screen and (max-width: 40em) { {.max-width-40em {color: green;}}
@media only screen and (min-width: 40.063em) and (max-width: 64em) { .between-40em_60em {color: green;} } min-width 641px and max-width 1024px, use when QAing tablet-only issues
@media only screen and (min-width: 64.063em) and (max-width: 90em) { .between-64em_90em {color: green;} } min-width 641px and max-width 1024px, use when QAing tablet-only issues
@media only screen and (min-width: 90em) and (max-width: 120em) { .between-90em_120em {color: green;} } min-width 641px and max-width 1024px, use when QAing tablet-only issues

 */



@media only screen {
.only-screen {color: green;}}




@media only screen and (min-device-width: 1px) and (max-device-width: 320px) {
.between-1-and-320 {color: green;}}

@media only screen and (min-device-width: 321px) and (max-device-width: 480px) {
.between-321-and-480 {color: green;}}

@media only screen and (min-device-width: 481px) and (max-device-width: 768px) {
.between-481-and-768 {color: green;}}

/**/
@media only screen and (min-device-width: 769px) and (max-device-width: 1024px) {
.between-769-and-1024 {color: green;}}


@media only screen and (min-device-width: 1025px) and (max-device-width: 12000px) {
.over_1024 {color: green;}}

/**/
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) {
.between-481-and-1024 {color: green;}}

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px)
and (orientation : portrait) {
  .mobile_320-480-portrait {color: green;}
}
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px)
and (orientation : landscape) {
  .mobile_320-480-landscape {color: green;}
}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
  .tablet-landscape{color: green;}
}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
  .tablet-portrait{color: green;}

}

/* The New iPad (iPad 3) ----------- */
@media only screen
and (min-device-width: 1536px)
and (max-device-width: 2048px)
and (-webkit-min-device-pixel-ratio: 2) {
  .tablet-hd{color: green;}
}










@media only screen and (orientation: handheld) {.handheld {color: green;}}
@media only screen and (orientation: portrait) {.portrait {color: green;}}
@media only screen and (orientation: landscape) {.landscape {color: green;}}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {.webkit-min-device-pixel-ratio-2 {color: green;}}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5) {.webkit-min-device-pixel-ratio-1_5 {color: green;}}
@media only screen and (-webkit-min-device-pixel-ratio: 1) {.webkit-min-device-pixel-ratio-1 {color: green;}}

@media screen and (min-aspect-ratio: 1/1) {.min-aspect-ratio1_1 {color: green;}}
@media screen and (-webkit-min-device-pixel-ratio: 1/1) {.-webkit-min-device-pixel-ratio1_3 {color: green;}}
@media screen and (-webkit-max-device-pixel-ratio: 1/1) {.-webkit-max-device-pixel-ratio1_4 {color: green;}}





/* @media (min-width: 768px) and (max-width: 1023px) {
  p {
    font-size: 18px;
  }
} */
/*
How does this differ from bootstraps simple
…Extra small devices (phones, less than 768px) /
/ No media query since this is the default in Bootstrap

Small devices (tablets, 768px and up)
@media (min-width: 768px) { … }

Medium devices (desktops, 992px and up)
@media (min-width: 992px) { … }

Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { … }… */
/* different techniques for iPad screening */

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* tablet portrait */
}
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* tablet landscape */
}
/* smart-phone detect 2012*/

@media (-webkit-min-device-pixel-ratio: 1.5), Webkit (min-resolution: 1.5dppx) The Future {}
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and ( min--moz-device-pixel-ratio: 2), only screen and ( -o-min-device-pixel-ratio: 2/1), only screen and ( min-device-pixel-ratio: 2), only screen and ( min-resolution: 192dpi), only screen and ( min-resolution: 2dppx) {
  /* Retina-specific stuff here */
}
